.app{
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: #757474;
}

.appBody{
    display: flex;
    background-color:rgb(247, 245, 245);
    height: 94vh;
    width: 92vw;
    box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
}

